.svgBox {
    flex-basis: 25px;
    flex-shrink: 0;
    height: 25px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s ease gray;
    background-color: rgba(0, 0, 255, 0.176);
    margin-right: 5px;
  }
  
  /* .svgBox:hover {
    background-color: grey;
  } */
  
  .svgBox svg {
    width: 100%;
    height: 100%;
    stroke: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  